.team__wrapper {
  width: 400px;
  border: 2px solid var(--secondary-color);
  padding: 2rem;
  border-radius: 5px;
}
.team__wrapper h2 {
  text-align: center;
}
.create__team {
  margin: 3rem 0;
}
.create__team label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.create__team input[type="checkbox"] {
  margin-right: 10px;
}
.assigned__team {
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 1.5rem;
}
.assigned__team span {
  font-size: 1.2rem;
}
